
<h2>Configuration</h2>

<hr />

<h3>Command-line Configuration</h3>
<p>@ViewBag.CommandLineConfig</p>
<p>@ViewBag.ConnectionString</p>

<h3>INI File Configuration</h3>
<p>@ViewBag.INIConfig</p>

<h3>Json File Configuration</h3>
<p>@ViewBag.JsonConfig</p>
