@model SelectListsViewModel

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Standard dropdown</label>
            <select class="form-control" asp-for="SelectedValue1" asp-items="Model.Items"></select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Single item list box</label>
            <select class="form-control" asp-for="SelectedValue2" asp-items="Model.Items" size="@Model.Items.Count()"></select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Multi item list box</label>
            <select class="form-control" asp-for="MultiValues" asp-items="Model.Items"></select>
        </div>
    </div>
</div>






