
@{
    ViewData["Title"] = "Two Column Layout";
    Layout = "_TwoColumn";
}



@section Siderbar {
    <p>This is the siderbar content</p>
}

<h2>Two Column Layout</h2>

<p>This is the main content</p>
