@model List<ASPNETCoreFundamentals.Models.Transformer>
@{
    ViewData["Title"] = "Index";
}

<h2>Roles in Transformer Movie</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <partial name="RoleTableRow" model="@t" />
        }
    </tbody>
</table>

