@model List<ASPNETCoreFundamentals.Models.Country>

<h2>Country List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nation Flag</th>
            <th>Code</th>
            <th>Name</th>
            <th>Continent</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>
                    <img src="~/@c.NationalFlagPath" />
                </td>
                <td>@c.Code</td>
                <td>@c.Name</td>
                <td>@c.Continent</td>
                <td><a asp-action="UpdateNationalFlag" asp-route-code="@c.Code">Update</a></td>
            </tr>
        }
    </tbody>
</table>