@model ASPNETCoreFundamentals.Models.Country

<h2>Update Nation Flag</h2>

<form asp-action="UpdateNationalFlag" enctype="multipart/form-data">
    <input type="hidden" asp-for="Code" />
    <b>Code: </b><span>@Model.Code</span><br/>
    <b>Name: </b><span>@Model.Name</span><br/>
    <b>Continent: </b><span>@Model.Continent</span><br />
    <b>Choose Local File:</b>
    <input type="file" name="nationalFlagFile" /><br/>
    <input type="submit" value="Update" />
</form>